.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
*.pptx
*.PNG
*.txt
*.RData
*.zip
*.zip
*.csv
source/earmark/Component builder.do
source/earmark/Component 4.dta
source/earmark/Component 3.dta
source/earmark/Component 2.dta
source/earmark/Codebook.pdf
